  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #74a6e6dc;
    text-align: center;
    margin-top: -5px;
  }

  /* h5 {
    font-weight: bold;
    color: #337ab7;
    font-size: 40%;
  } */

  /* #panel-heading {
    margin-top: 30px;
  } */


  .panel-body {
    /* margin-top: 30px; */
    text-align: center;
    display: inline-block;
  }



  .pie {
    border:1px solid transparent;
    border-radius:4;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    text-align: center;
    display: inline-block;
  }

  .col-md-3 {
    padding-left: 0px;
  }


  .col-md-9 {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }


  .main-svg {
    /* height: 100%; */
    width:100%;
  }

  
  .svg-container {
    width:100%;
  }

  .bubble {
    margin-top: 15px;
    border:1px solid transparent;
    border-radius:4;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    text-align: center;
    display: inline-block;
  }